body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
  
}

.status {
  margin-bottom: 10px;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
}

.square {
  background:  rgba(0,0,0,0.4);
  border: 7px solid var(--white);
  float: left;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  height: 80px;
  margin-right: 1%;
  margin-top: 3px;
  padding: 0;
  text-align: center;
  width: 80px;
  color: #FFF;
  border-radius: 20px;
}

@media (max-width: 575px) {
  .square {
    background: rgba(0,0,0,0.4);
    border: 7px solid var(--white);
    float: left;
    font-size: 24px;
    font-weight: 100;
    line-height: 34px;
    height: 40px;
    margin-right: 5px;
    margin-top: 3px;
    padding: 0;
    text-align: center;
    width: 40px;
    color: #FFF;
    border-radius: 10px;
      
  }
}
@media (max-width: 575px) {
  body {
    margin: 20% 0 0 13%;
  }
}

.square:focus {
  outline: none;
}
.square:hover{
    background-color: yellow;
    box-shadow: 2px 2px 2px 2px gray;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
.game-board{
  
  position: relative;
  top: 20%;
  padding:2%
}

.game-info {
  position: relative;
  padding: 2%;
  
}
.grid{
    margin: 20%;
}

.depth{
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
.undo_button{
  background-color: rgba(0,0,0,0.4);
  margin-top:2%;
}
.redo_button{
  background-color: rgba(0,0,0,0.4);
  margin-top:2%;
  margin-left: 2%
}
.replay_button{
  background-color: rgba(0,0,0,0.4);
  margin-top:2%;
  margin-left: 2%;
}
.algo-checker1{
  background-color: rgba(0,0,0,0.4);
  margin-top:2%;
  margin-left:2%;
}
.algo-checker2{
  background-color: rgba(0,0,0,0.4);
  margin-top:2%;
  margin-left:2%;
}
.first-line {
  margin-left: -5%;
}
.checkAi{
  background-color: rgba(0,0,0,0.4);
}
.checkhuman{
  background-color: rgba(0,0,0,0.4);
}
.reset{
  background-color: rgba(0,0,0,0.4);
}
.suggestion{
  background-color: rgba(0,0,0,0.4);
}
.level{
  background-color: rgba(0,0,0,0.4);
}
